
.header
{
    height: 120px;
    background-image: linear-gradient(0,#fe6432,#f53d2d);
}
.navbar
{
    display: flex;
    justify-content: space-between;
    
}
.navbar__header
{
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
    margin-bottom: 0;
    display: flex;
}
.navbar__item
{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.navbar__item, 
.navbar__item-link
{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none; /*Bỏ thuộc tính gạch chân của thẻ a - note lại cho nhớ--*/
    font-weight: 350;

}
.navbar__item, 
.navbar__item-link,
navbar_icon
{
    display: inline-flex;
    align-items: center;

}
.navbar__item:hover,
.navbar__item-icon:hover, 
.navbar__item-link:hover
{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;

}
.navbar__item-icon:nth-child(2)
{
    margin-left: 3px;
}
.navbar__item--strong
{
    font-weight: 450;
}
.navbar__item--separate::after
{
    content: "";
    position: absolute;
    display: block;
    border-left: 1px solid #f86d5b;
    height: 16px;
    top:50%;
    transform: translateY(-50%);
    right: -9px;
    

}
.navbar__item--contact
{
    cursor: text;
    color: var(--white-color);

}
.navbar__item-icon
{
    color: var(--white-color);
    text-decoration: none;
}
.navbar_icon
{
    font-size: 1.6rem;
    margin: 0 5px;

}
/* -----------------------Header navbar qr__code---------------------- */

.navbar__qr-code 
{
    position: absolute;
    background-color: var(--white-color);
    left: 0;
    width: 186px;
    top:100%; /* dính sát vô phần tử cha chứa nó*/
    border-radius: 2px; /* border góc của ảnh */
    padding: 4px;
    display: none;
    animation: fadeIn ease-in 0.3s ;
    z-index: 2;


}
.navbar__qr-code ::before
{
    position: absolute;
    content: "";
    left: 0;
    top: -18px;
    height: 20px;
    width: 100%;
    display: block;


}
.navbar__qr-code--show:hover .navbar__qr-code
{
    display: block;


}
.navbar__img-qr_code
{
  width: 100%;  /*chiều ngang bằng với cha  */

}
.navbar__apps
{
    display: flex;
    justify-content: space-between;

}
.navbar__app_link:first-child
{
    padding-left: 11px;

}   
.navbar__app_link:last-child
{
    padding-right: 11px;
}


.navbar__app-down
{
    height: 16px;  
    
}
/* -------------------HEADER NOTIFICATION-------------- */
.navbar__noti
{
    position: absolute;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 118%;
    right: 0;
    width: 400px;
    transform-origin: calc(100-32px) top ;
    animation: HeaderNotishow ease-in 0.2s;
    display: none;
    will-change: opacity,transform; /* khai báo để trình duyệt tối ưu hóa thuộc tính này*/
    z-index: 1; /*z-index: chỉ định thứ tự xuất hiện của phần tử - work on position */
    border-radius: 2px;

}
/* Để làm mũi tên đổ xuống thông báo , có thể dùng clip-path để làm */
.navbar__noti ::before 
{
    content: "";
    position: absolute;
    right: 0px;
    top: -36px;
    /* height: 40px; */
    /* width: 100%; */
    display: block;
    border-style: solid;
    border-width: 24px 33px;
    border-color: transparent transparent var(--white-color) transparent;
    /* background-color: #fff; */
}


.navbar__noti::after
{
    content: "";
    position: absolute;
    right: 0;
    top: -20px;
    width: 80px;
    height: 20px;
    

}

.navbar__noti--show:hover .navbar__noti
{
    display: block;
    

}

.navbar__noti-header
{
    height: 40px;
    cursor: text;



}
.navbar__noti-header h3
{
    margin: 0 0 0 12px;
    color: #B6B6B6;
    font-weight: 400;
    line-height: 40px;
    font-size: 1.4rem;
    user-select: none; /*Không cho người dùng copy đoạn text*/
}
.navbar__noti-list
{
    padding-left: 0; /*loại bỏ thuộc tính padding-left =40 của thẻ ul*/
    
    

}

.navbar__noti-item:hover
{
    background-color: #f7f7f7f7;
    
}
.navbar__noti-item--read
{
    background-color: rgba(238,75,43,0.08);
    width: 100%;
    
}
.navbar__noti-link
{
    display: flex; 
    padding-top: 8px;
    /* justify-content: space-between; */
    text-decoration: none;
    /* margin: 8px 20px 8px 5px ; trên phải dưới trái */
    
    
    



}
.navbar__noti-item-img
{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 5px;

}
.navbar__noti-item_content
{
    display: flex;
    flex-direction: column;
    /* padding-left: 5px; */
    margin-bottom: 5px;
    /* margin: 8px 20px 8px 5px ; trên phải dưới trái */
 

}
.navbar__noti-mes
{
    font-size: 1.4rem;
    line-height: 1.68rem;
    /* width: 325px; */
    color: #000;
    font-weight: 400;
    margin-bottom: 5px;


}
.navbar__noti-des
{
    font-size: 1.2rem;
    /* width: 325px; */
    line-height: 1.5rem;
    color: #756F6E;
}
.navbar__noti-footer
{
    text-align: center;
    /* margin-top: 8px; */


}
.navbar__noti-footer-btn
{
    text-decoration: none;
    font-size: 1.4rem;
    padding: 8px 48px;
    font-weight: 370;
    display: inline-block;
    color: var(--text-color);

}

/* ----------------------------------Account__user------------------ */
.navbar__account_user
{
    display: flex;
    align-items: center;
    position: relative;
   
}
.avatar__user
{
    width: 22px;
    height: 22px;
    border-radius: 50%; 
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
}
.user__name
{
    font-size: 1.4rem;
    font-weight: 400;
}
.navbar__account_user:hover .account__notify
{
    display: block;


}
.account__notify
{
    position: absolute;
    top: calc( 100% + 4px );
    right: 0;
    width: 150px;
    list-style: none;
    background-color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0;
    border-radius: 2px;
    box-shadow:0 1px 2px rgb(235, 228, 228);
    z-index: 2;
    /* animation: ;    */
    display: none;
    
}
.account__notify ::before
{
    content: "";
    position: absolute;
    display: block;
    height: 8px;
    width: 70%;
    top: -8px;
    right: 0;
    
    

}
.account__notify ::after
{
    content: "";
    position: absolute;
    right: 21px;
    top: -27px;
    display: block;
    border-style: solid;
    border-width: 17px 24px;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
    z-index: -1;
}
.account__notify-item--separate
{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.account__notify-item a 
{
    
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 16px;
    display: block;
}
.account__notify-item a:first-child
{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

}


.account__notify-item a:last-child
{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
 

}


.account__notify-item a:hover
{
    background-color: #fafafa;


}


/*  ---------------------- Form đăng ký đăng nhập ----------------- */
.auth-form
{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden; /* đối tượng con tràn ra khỏi đối tượng cha thì hidden */
    
}
.auth-form__container
{
    padding: 0 32px;
}
.auth-form__header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;

}
.auth-form__heading
{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn
{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;

}

.auth-form__input
{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus
{
    border-color: #777;
}
.auth-form__aside
{
    margin-top: 18px;
}
.auth-form__policy-text
{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link
{
    text-decoration: none;
    color: var(--primary-color);
}
.auth-form__control
{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-form-controls-back
{
    margin-right: 8px;
}

.auth-form__social
{
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;

}


.btn.btn__icon-fb
{
    background-color: #3A5A98;
    color: var(--white-color);

}
.btn.btn__icon-gg 
{
    color: #666;

}
.icon-fb
{
    font-size: 1.8rem;
    margin-right: 36px;


}
.icon-gg
{
    font-size: 1.8rem;
    margin-right: 36px;

}

.auth-form__help
{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link
{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help--separate
{
    display: block;
    margin:1px 16px 0;
    border-left: 1px solid #EAEAEA;
}


.forgot_pw_link
{
    color: var(--primary-color);
}


.header__with-search
{
    height: var(--height-search);
    display: flex;
    align-items: center;
    margin: 0 8px;

}

.search__logo
{
    width: 200px;
}
.search__logo-link
{
    text-decoration: none;
    color: transparent;
}
.search__logo-img
{
    width: 146px;
    font-size: 1.4rem;

}
.header__search
{
    height: 40px;
    background-color: var(--white-color);
    flex: 1; /* chiếu phần còn lại của thành phần chứa*/
    border-radius: 2px;
    display: flex;
    align-items: center;


}
.header__search-input-wrap
{

    flex:1;
    height: 100%;
    position: relative;

    
}
.header__search-input
{
    width: 100%;
    height: 100%;
    border-radius: 2px;
    outline: none;
    border: none;
    color: var(--text-color);
    padding: 0 16px;
    font-size: 1.5rem;
}
.header__search-select
{
    border-left: 1px solid #EBEBEB;
    padding-left: 16px;
    position: relative;
    height: 100%;
    display: flex;
    cursor: pointer;

}


.header__search-select-label
{
    font-size: 1.4rem;
    color: var(--text-color);
    margin: auto;
}
.header__search-select-icon
{
    margin: auto;
    font-size: 1.2rem;
    color: #4a4a4a;
    padding: 0 10px ;
    position: relative;
    top: 1px;
   
}
.header__search-select:hover 
.search__options
{
    display: block ;

}

.search__options
{
    position: absolute;
    right: 0;
    top: calc(100% + 2px);
    width: 154px;
    margin: 0 0;
    padding-left: 0px;
    list-style: none; /*loại bỏ dấu chấm của thẻ li*/
    box-shadow:         0 1px 2px rgb(235, 228, 228);
    border-radius: 3px;
    overflow: hidden;
    display: none;
    animation: fadeIn ease 0.2s;
    z-index: 2;
   

}
.header__search-select::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top: 30px;
    left: 0;
}

.search__option-item
{
    background-color: var(--white-color);
    padding: 8px 8px;
    display: flex ;
}
.search__option-item:hover
{
    cursor: pointer;
    background-color: #FAFAFA;


}
.search-option-label
{
    font-size: 1.4rem;
    padding: 0 4px 0 8px;
}
.search__option-item i
{
    font-size: 1.2rem;    
    color: var(--primary-color);
    display: none ;
    margin-left: 12px;
    
    

}

.search-option--checked i
{
    display: inline-block;

}
.header__search-btn
{
    background-color: var(--primary-color);
    margin: 3px 3px 3px 0;
    width: 60px;
    height: 34px;
    display: flex;
    border: none; /* loại bỏ border mặc định của button*/
    border-radius: 2px;
    

}
.header__search-btn:hover
{
    background-color:#fb6445;
    cursor: pointer;
}
.header__search-btn-icon
{
    margin: auto ;
    font-size: 1.4rem;
    color: var(--white-color);

}
/* ----------------------Cart-------------------------------------- */
.header__cart-wrap
{
    width: 138px;
    height: 40px;
 
    

    
}
.header__cart
{
    width:50px;
    position: relative;
    margin-left: 60px;
    margin-top: 20px;
    font-size: 1.4rem;
    color: var(--text-color);
    cursor: pointer;
    

}
.header__cart::before
{
    position: absolute;
    content: "";
    display: block;
    top: 10px;
    right: 8px;
    width: calc(100% + 40px);
    height: 20px;
    
   
}

.header__cart-icon
{
    font-size: 1.8rem;
    color: var(--white-color);
    

}
.cart__quantity
{
    position: absolute;
    top: -12px;
    right: 12px;
    padding: 0 7px;
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 50px;
    border: 2px solid rgb(238, 77, 45);
    background-color: var(--white-color);

}




.header__cart:hover .header__cart-list 
{
    display: block;


}

.header__cart-list 
{
    position: absolute;
    width: 400px;    
    top: calc(100% + 8px);
    right: 20px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    display: none;
    z-index: 1;
    animation: fadeIn ease 0.2s;
    

}
.header__cart-list ::before
{
    content: "";
    position: absolute;
    right: 0px;
    top: -23px;
    display: block;
    border-style: solid;
    border-width: 14px 19px;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
    z-index: -1;

}
.header__cart-list--empty
{
    cursor: default;
    

}
.header__cart-list--empty .empty__cart-img,
.header__cart-list--empty .empty_cart-notify
{
    display: block;
    



}
.empty__cart-img
{
    width: 50%;
    display: none;
    margin: auto;
    padding-top: 60px;

}
.empty_cart-notify
{
    display: block;
    padding-top: 24px;
    padding-bottom: 60px;
    display: none;
}
/* ------------------------------CART HAS LIST ITEM---------- */

.header__cart-heading
{
    margin: 0 0;
    padding-left: 10px;
    display: flex;
    align-items: center;
    color: #cccc;
    font-size: 1.4rem;
    font-weight: 350;
    height: 40px;
    line-height: 1.68rem;
    cursor: default;
}

.header__cart-list--empty .header__cart--not-empty
{
    display: none;
}
.header__cart-list-item
{
    padding-left: 0;
    margin: 0 0 13px;
    background-color: var(--white-color);
    max-height: 46vh;
    overflow-y: auto;
    
}
.header__cart-item
{
    display: flex;
    height: 62px;
    padding: 10px 10px;
    /* background-color: red; */

}
.header__cart-item:hover
{
    background-color: #fff8f8;
}


.header__cart-item-img
{
    width: 42px;
    height: 42px;
    margin-right: 10px;
    border:1px solid #e8e8e8;
}

.header__cart-item-info
{
    width: 100%;
}

.cart__item_info
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;


  

}
.item__name
{
    font-weight: 450;
    font-weight: 450;
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 2rem;
    flex: 1;
    padding-right: 8px ;
    text-align: left;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    

}
.cart__item_info-right
{
    
}
.item__price
{
    color: var(--primary-color);
    padding-right: 2px;
}
.operator__multiply
{
    font-size: 1.2rem;
    color: #666;
    padding-right: 2px;

}
.item__quantity
{
    font-size: 1.2rem;
    color: #666;

}
.cart__item_des
{
   display: flex;
   justify-content: space-between;
}
.item__type
{
    font-size: 1.1.2rem;
    color: #666;

}
.item__delete
{

}
.btn__add-cart
{
    text-align: right;
    margin-right: 10px;
    margin-bottom: 12px;
    cursor: default;
}
/* ------------------------Header__search-history--------------- */
.header__search-input:focus
 ~ .header__search-history
{
    display: block;
}

.header__search-history
{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px); /* 2 đối số truyền vào cách dấu - ra */
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(212, 208, 208);
    overflow: hidden;
    display: none;
    z-index: 1;
}
.header__search-history-heading
{
    margin: 6px 12px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;

}
.header__search__history-list
{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;


}
.header__search-history-item:hover
{
    background-color: #fafafa;

}

.header__search-history-item
{
    height: 38px;
    padding: 8px 10px;
   
  

}
.header__search-history-item a
{
   
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color); 
    display: block;
    padding-top: 4px;
 
}

/* ---------------------------------------Container----------------------------------------------------- */
.app_container
{
    background-color: #F5F5F5;

}
.category
{
    background-color: var(--white-color);
    border-radius: 2px;
    margin: 32px 0;

}
.category__heading
{
    padding: 12px 16px ;
    color: var(--text-color);
    font-size: 1.6rem;
    margin: 0 0;
    border-bottom: 1px solid #E8E8E8;

}

.category-list
{
    list-style: none;
    padding:10px  0 ;
    margin: 0 0 ;
    padding-left: 7px;
    
}
.category-item{
    padding: 6px 16px ;


}

.category-item--active .category-item__link
{
    color: var(--primary-color);
    

}

.category-item__link
{
    position: relative;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    right: 0;

}
.category-item__link:hover
{
    color: var(--primary-color);
    right: -2px;
  
}
/* ---------------Sort and Filter------- */
.sort-Filter
{
    margin-top: 32px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color:#EDEDED;
    border-radius: 2px;
    position: relative;
}

.filter__label
{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
    
    

}
.btn__filter
{
    min-width: 90px !important;
    margin-right: 10px;
}
.sort__option
{
    flex: 1;

}

.filter__price
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 1px 12px;
    position: relative;
}
.filter__price-label
{
    text-align: center;
}
.filter__price:hover .show__filter-price
{
    display: block;
}
.show__filter-price
{
    background-color: var(--white-color);
    position: absolute;
    top: calc( 100% + 1px);
    right: 0;
    width: 100%;
    display: none;
    animation: fadeIn linear 0.1s;
    z-index: 1;
    
}
.price__list
{
    list-style: none;
    padding-left: 0;
    margin: 0 0;
    background-color: var(--white-color);
}
.price__item
{
    padding: 4px 12px 4px 15px;
    font-size: 1.4rem;
    color: var(--text-color);

}
.price__item:hover
{
    background-color: #fafafa;
    color: var(--primary-color);

}
.sort__controller
{

}
.swap__page-numb
{
    display: flex;
    align-items: center;
    display: flex;
    font-size: 1.4rem;
    color: var(--text-color);
    position: absolute;
    right: 20px;
}
.page-numb
{
    margin-right: 22px;
}
.page__current
{
    color: var(--primary-color);
}
.page__numb-control
{
    display: flex;
    border-radius: 2px;
    width: 72px;
    height: 36px;
    overflow: hidden;

}
.page__numb-control a:first-child
{
    border-right: 1px solid #F0F0F0 ;
    background-color: #F9F9F9;
    cursor: default;
    color: #ccc;
}
.page__numb-control-btn
{
    flex:1;
    background-color: var(--white-color);
    display: flex;
    text-decoration: none;

    
}
.page__numb-control-icon
{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}
.page__numb-control-icon--disable
{
    color: #ccc;

}

/* --------------product item----------------- */
.home-product
{
    margin-bottom: 10px;
}
.home-product-item-link
{
    text-decoration: none;
}
.home-product-item
{
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 2px;    
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    transition: transform ease-in 0.1s ;
    will-change: transform;


}
.home-product-item:hover
{
    box-shadow: 0 1px 20px 0 rgb(0 0 0 / 5%);
    transform: translateY(-1px)

}
/* --------CHÚ Ý THÊM PHẦN NÀY ------- */
.home-product-item__img
{
    padding-top: 100%;
    background-repeat: none;
    background-size: contain;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    
}
.home-product-item__name
{
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 1.4rem;
    font-weight: 400;
    margin: 4px 10px 0 10px;
    height: 2.8rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}
.home-product-item__price
{
    margin-top: 8px;
    font-weight: 400;
    flex-wrap: wrap;
}
.home-product-item__price-old
{
    margin-left: 10px;
    font-size: 1.4rem;
    margin-left: 10px;
    color: #8f8f8f;
    text-decoration: line-through;

}
.home-product-item__price-current
{
    margin-left: 10px;
    font-size: 1.5rem;
    color: var(--primary-color);


}
.home-product-item__action
{
    display: flex;
    justify-content: space-between;
    margin: 8px 10px;

}
.home-product-item__like
{
    font-size: 1.2rem;

}
.home-product-item__like--liked .home-product-item__like-empty
{
    display: none;
}
.home-product-item__like--liked .home-product-item__like-fill
{
    display: block;
}

i.home-product-item__like-fill
{
    color: #F53D2F;
    display: none;
    

}
.home-product-item__rating
{
    font-size: .9rem;
    color: #8f8f8f;
    margin: -1px 0 0 auto;


}
.home-product-item__rating--gold
{
    color: #FFCE3D;


}
.home-product-item-sold
{
    font-size: 1.2rem;
    color:var(--text-color);
    font-weight: 400;
    margin-left: 6px;
    
}
.home-product-item__origin
{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    font-size: 1.2rem;
    color: #595959;
    font-weight: 400;

}

.home-product-item__fouvorite
{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: 4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;


}
.home-product-item__fouvorite::after
{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0px;
    border-top: 3px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(60%);

}
.home-product-item__fouvorite span
{
    color: var(--white-color);
    
}

.home-product-item__fouvorite-icon
{
    font-size: 1rem;
    margin: 0 2px 0 5px ;
    color: var(--white-color);

}
.home-product-item__sale-off
{
    position: absolute;
    top:0;
    right: 0;
    width: 36px;
    height: 32px;
    background-color: rgba(255,216,57,0.91);
    text-align: center;
    border-top-right-radius: 2px;
    

}
.home-product-item__sale-off::after
{
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    border-width: 0 18px 4px;
    border-style: solid;
    border-color: red rgba(255,216,57,0.91) transparent rgba(255,216,57,0.91);;
}
.home-product-item__sale-off-percent
{

    color: #F26C2D;
    font-size: 1.2rem;
    line-height: 1.3rem;
    position: relative;
    font-weight: 400;
    top: 4px;


}
.home-product-item__sale-off-label
{
    color: var(--white-color);
    font-size: 1.2rem;
    line-height: 1.3rem;
    font-weight: 500;
    position: relative;
    top: 3px;

}