
.header
{
    height: 120px;
    background-image: linear-gradient(0,#fe6432,#f53d2d);
}
.navbar
{
    display: flex;
    justify-content: space-between;
}
.navbar__header
{
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}
.navbar__item
{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.navbar__item, 
.navbar__item-link
{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none; /*Bỏ thuộc tính gạch chân của thẻ a - note lại cho nhớ--*/
    font-weight: 350;

}
.navbar__item, 
.navbar__item-link,
navbar_icon
{
    display: inline-flex;
    align-items: center;

}
.navbar__item:hover,
.navbar__item-icon:hover, 
.navbar__item-link:hover
{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;

}
.navbar__item--strong
{
    font-weight: 450;
}
.navbar__item--separate::after
{
    content: "";
    position: absolute;
    display: block;
    border-left: 1px solid #f86d5b;
    height: 16px;
    top:50%;
    transform: translateY(-50%);
    right: -9px;
    

}
.navbar__item--contact
{
    cursor: text;
    color: var(--white-color);

}
.navbar__item-icon
{
    color: var(--white-color);
    text-decoration: none;
}
.navbar_icon
{
    font-size: 1.6rem;
    margin: 0 5px;

}
/* -----------------------Header navbar qr__code---------------------- */

.navbar__qr-code 
{
    position: absolute;
    background-color: var(--white-color);
    left: 0;
    width: 186px;
    top:100%; /* dính sát vô phần tử cha chứa nó*/
    border-radius: 2px; /* border góc của ảnh */
    padding: 4px;
    display: none;
    animation: fadeIn ease-in 0.3s ;


}
.navbar__qr-code ::before
{
    position: absolute;
    content: "";
    left: 0;
    top: -18px;
    height: 20px;
    width: 100%;
    display: block;


}
.navbar__qr-code--show:hover .navbar__qr-code
{
    display: block;


}
.navbar__img-qr_code
{
  width: 100%;  /*chiều ngang bằng với cha  */

}
.navbar__apps
{
    display: flex;
    justify-content: space-between;

}
.navbar__app_link:first-child
{
    padding-left: 11px;

}   
.navbar__app_link:last-child
{
    padding-right: 11px;
}


.navbar__app-down
{
    height: 16px;  
    
}
/* -------------------HEADER NOTIFICATION-------------- */
.navbar__noti
{
    position: absolute;
    background-color: var(--white-color);
    border: 1px solid #999;
    top: 118%;
    right: 0;
    width: 400px;
    transform-origin: calc(100-20px) top ;
    animation: HeaderNotishow ease-in 0.2s;
    display: none;
    will-change: opacity,transform; /* khai báo để trình duyệt tối ưu hóa thuộc tính này*/


}
/* Để làm mũi tên đổ xuống thông báo , có thể dùng clip-path để làm */
.navbar__noti ::before 
{
    content: "";
    position: absolute;
    right: 12px;
    top: -35px;
    /* height: 40px; */
    /* width: 100%; */
    display: block;
    border-style: solid;
    border-width: 20px 27px;
    border-color: transparent transparent var(--white-color) transparent;
    /* background-color: #fff; */


}
.navbar__noti::after
{
    content: "";
    position: absolute;
    right: 0;
    top: -20px;
    width: 80px;
    height: 20px;
    

}
.navbar__noti--show:hover .navbar__noti
{
    display: block;
    

}
.navbar__noti-header
{
    height: 40px;
    cursor: text;



}
.navbar__noti-header h3
{
    margin: 0 0 0 12px;
    color: #B6B6B6;
    font-weight: 400;
    line-height: 40px;
    font-size: 1.4rem;
    user-select: none; /*Không cho người dùng copy đoạn text*/
}
.navbar__noti-list
{
    padding-left: 0; /*loại bỏ thuộc tính padding-left =40 của thẻ ul*/
    
    

}
.navbar__noti-item:hover
{
    background-color: #f7f7f7f7;
    
}
.navbar__noti-item--read
{
    background-color: rgba(238,75,43,0.08);
    width: 100%;
    
}
.navbar__noti-link
{
    display: flex; 
    padding-top: 8px;
    /* justify-content: space-between; */
    text-decoration: none;
    /* margin: 8px 20px 8px 5px ; trên phải dưới trái */
    
    
    



}
.navbar__noti-item-img
{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 5px;

}
.navbar__noti-item_content
{
    display: flex;
    flex-direction: column;
    /* padding-left: 5px; */
    margin-bottom: 5px;
    /* margin: 8px 20px 8px 5px ; trên phải dưới trái */
 

}
.navbar__noti-mes
{
    font-size: 1.4rem;
    line-height: 1.68rem;
    /* width: 325px; */
    color: #000;
    font-weight: 400;
    margin-bottom: 5px;


}
.navbar__noti-des
{
    font-size: 1.2rem;
    /* width: 325px; */
    line-height: 1.5rem;
    color: #756F6E;
}
.navbar__noti-footer
{
    text-align: center;
    /* margin-top: 8px; */


}
.navbar__noti-footer-btn
{
    text-decoration: none;
    font-size: 1.4rem;
    padding: 8px 48px;
    font-weight: 370;
    display: inline-block;
    color: var(---text-color);

}

/* --------------Animation -------------------------------------------*/
@keyframes fadeIn 
{
    from
    {
        opacity: 0;

    }
    to
    {
        opacity: 1;

    }
}
@keyframes HeaderNotishow
{
    from
    {
        transform: scale(0);
        opacity: 0;
    }
    to
    {
        transform: scale(1);
        opacity: 1;
    }
}